<% if (blogs.length > 0) { %>
<h2 class="mt-2">آخرین پست ها</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">عنوان</th>
        <th scope="col">تاریخ</th>
        <th scope="col">وضعیت</th>
        <th scope="col">عملیات</th>
      </tr>
    </thead>
    <tbody>
      <% for( let index = 0; index < blogs.length; index++ ) { %>
      <tr>
        <td><%= index+1 %></td>
        <td>
          <a href="/posts/<%= blogs[index]._id %>"></a><%= blogs[index].title %>
        </td>
        <td><%= shamsiDate(blogs[index].createdAt)%></td>
        <td>
          <span class="badge <%= blogs[index].status === "public" ? 'badge-success' : 'badge-warning' %>">
              <%= blogs[index].status === "public" ? "عمومی" : "خصوصی" %>
          </span>
      </td>
        <td>
          <a
            href="/dashboard/edit-post/<%= blogs[index]._id %>"
            class="btn btn-sm btn-primary"
            >ویرایش</a
          >
          <a
            href="/dashboard/delete-post/<%= blogs[index]._id %>"
            class="btn btn-sm btn-danger"
            >حذف</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <%- include("../includes/pagination.ejs") %>
</div>
<% }else { %>
<div class="text-center">
  <h3 class="mt-2">در حال حاضر هیچ پستی نداری</h3>
</div>
<% } %>
